<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{$SiteName.0.value}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/author/css/ui.css">
    <link href="__STATIC__/author/favicon.ico" type="image/x-icon" rel="icon">
    <link href="__STATIC__/author/iTunesArtwork_402x.png" sizes="114x114" rel="apple-touch-icon-precomposed">
    <link type="text/css" rel="stylesheet" href="__STATIC__/index/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="__STATIC__/index/bootstrap/js/bootstrap.js"></script>