{include file="author/head" /}
</head>
<body>
	<div class="aui-container">
		<div class="aui-page">
			<div class="aui-page-my">
				<div class="aui-my-info">
					<div class="aui-my-info-back"></div>
					<a href="javascript:;" class="">
						<img src="__STATIC__/author/images/face.jpeg" class="aui-my-avatar">
					</a>
					<div class="aui-mt-location aui-l-blue">学生端</div>
				</div>

			{include file="author/menu" /}
			</div>
		</div>
	</div>
	<br />
<center  style="font-size: 12px">
{include file="public/copy" /}
</center>
</body>
</html>