<div class="aui-l-content">
    <div class="aui-menu-list aui-menu-list-clear">
        <ul>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/index/index')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in2.png"></div>
                    <h3>应用首页</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/stuinfo')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in1.png"></div>
                    <h3>个人信息</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/classinfo')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in3.png"></div>
                    <h3>班级信息</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/insinfo')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in5.png"></div>
                    <h3>辅导员信息</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/logininfo')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in6.png"></div>
                    <h3>登录安全</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/sign')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in5.png"></div>
                    <h3>晚寝详情</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/leave')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in1.png"></div>
                    <h3>请假申请</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/reward')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in5.png"></div>
                    <h3>获奖登记</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/author/about')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in4.png"></div>
                    <h3>关于系统</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
            <li class="b-line" style="height: 55px">
                <a href="{:url('index/common/logout')}">
                    <div class="aui-icon"><img src="__STATIC__/author/images/icon-home/my-in8.png"></div>
                    <h3>退出</h3>
                    <div class="aui-time"><i class="aui-jump"></i></div>
                </a>
            </li>
        </ul>
    </div>
</div>