
{include file="public/head" /}
</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">智+</h1>

            </div>
            <h3>{$SiteName.0.value}-教师端</h3>

            <form class="m-t" role="form" action="" method="post">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="教师编号" required="" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" required="" name="password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="点击验证码更换" required="" name="code">
                    <img src="{:captcha_src()}" onclick="javascript:this.src='{:captcha_src()}?tm='+Math.random()"  style="width: 300px; height: 75px;margin-top: 10px;" />
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">登 录</button>
            </form>
        </div>
    </div>

    <!-- 全局js -->

    <!-- 全局js结束 -->

</body>

</html>
