<li>
    <a href="#">
        <i class="fa fa-home"></i>
        <span class="nav-label">概览</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="content.html" data-index="0">待处理</a>
        </li>
    </ul>

</li>
<li>
    <a href="#">
        <i class="fa fa fa-bar-chart-o"></i>
        <span class="nav-label">数据统计</span>
        <span class="fa arrow"></span>
    </a>
    <ul class="nav nav-second-level">
        <li>
            <a class="J_menuItem" href="{:url('teacher/count/index')}">请假概览</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('teacher/count/reward')}">获奖概览</a>
        </li>
        <li>
            <a class="J_menuItem" href="{:url('teacher/count/sign')}">签到概览</a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">学生信息</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="{:url('teacher/info/student')}">基本信息</a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">班级管理</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="{:url('teacher/classmsg/index')}">班级查看</a>
        </li>
    </ul>
</li>
<li>
    <a href="#"><i class="fa fa-flask"></i> <span class="nav-label">信息审核</span><span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a class="J_menuItem" href="{:url('teacher/status/leave')}">请假审核</a></li>
        <li><a class="J_menuItem" href="{:url('teacher/status/reward')}">获奖审核</a></li>
    </ul>
</li>