
{include file="public/head" /}

</head>
<body ontouchstart>
    <div class="container" id="container"></div>

    <script type="text/html" id="tpl_home">
<div class="page">
    <div class="page__hd">
        <h1 class="page__title">
            <img src="__STATIC__/login/public/images/4.jpg" alt="logo" width="100%" />
        </h1>
        <p class="page__desc">{$SiteName.0.value}-学生端</p>
    </div>
    <div class="page__bd page__bd_spacing">
        <form action="" enctype="multipart/form-data" method="post">
            <div class="weui-cells weui-cells_form">
                <input type="hidden" name="filePath" id="upfile" style="border:1px dotted #ccc;width: 100%" disabled="disabled">
                <input type="button" value="启动相机捕获人脸" onclick="path.click()"  class="weui-btn weui-swiped-btn_warn"  multiple="true" required>
                <input type="file" id="path"  name="file" style="display:none" onchange="upfile.value=this.value">
                <br />
                <input type="submit" value="确认信息登录" class="weui-btn weui-btn_primary">
            </div>
        </form>
    </div>

</div>

</script>

{include file="public/footer" /}
</body>
</html>
