
    {include file="public/head" /}

    <link rel="stylesheet" href="__STATIC__/index/css/mdui.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/app.css" />

</head>
<body>

{include file="public/header" /}
<blockquote style="text-align: left">
    <p>晚寝打卡</p>
    <footer>请在规定时间内打卡，请勿重复打卡<cite title="Source Title">辅导员中心</cite></footer>
</blockquote>


<a href="{:url('index/night/sign')}">
    <img src="__STATIC__/index/images/sign.png" class="img-responsive" alt="Responsive image" style="margin: 0px auto;width: 45%;height: 30%">
</a>
<br />

{include file="public/copy" /}
</body>
</html>