<div class="content" style="width:100%; min-height:350px;margin-top: -30px;">
    <div class="gun" style="width:100%; height:100px;">
        <div id="slides">
            <ul class="slides_container swiper-wrapper" id="ul1" style="">
                <!--------------------------------- 顶部栏目 ------------------------->

                <!--第一列-->
                <li class="swiper-slide swiper-slide-visible" style="">
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon1.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>功能模块</h2>
                            <br>
                            Function Module</span>
                        </div>
                    </a>
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon3.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>晚寝记录</h2>
                            <br>
                            Product System</span>
                        </div>
                    </a>
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon4.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>请假记录</h2>
                            <br>
                            The solution</span>
                        </div>
                    </a>
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon6.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>获奖记录</h2>
                            <br>
                            Customer service system</span>
                        </div>
                    </a>
                </li>

                <!--第二列-->
                <li class="swiper-slide" style="">
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon7.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>班费收支</h2>
                            </span>
                        </div>
                    </a>
                    <a href="javascript:;" target="_blank">
                        <div class="tub">
                            <img class="tub1" src="__STATIC__/index/images/icon5.png" alt="">
                        </div>
                        <div class="tet">
                            <span>
                            <h2>通知与公告</h2>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="prev"> prev </a>
            <a href="javascript:;" class="next" id="soso"> next </a>
        </div>
    </div>