<li class="pro">
    <div class="one_itme" id="li_two">
        <p class="lead">注：晚归打卡将是平时德育重要考核标准</p>
        <table class="table">
            <tr>
                <td>地点</td>
                <td>签到时间</td>
                <td>状态</td>
            </tr>
            {volist name="NightSignInfo" id="vo" empty="<span class='label label-warning'>暂无数据</span>"}
            <tr>
                <td>{$vo.ip|getAddress}</td>
                <td width="170px">{$vo.create_time}</td>
                <td>{$vo.status|NorStatus}</td>
            </tr>
            {/volist}
        </table>
        <a href="{:url('index/author/sign')}">查看更多</a>
    </div>
</li>