<div class="scrollNews">
    <div class="yy">
        <!-- 轮播通知 -->
        {volist name="AllTip" id="vo"}
        <div class="tongzhi">
            <a href="default.htm">
                <div class="tongzhi_pic">
                    <img class="tongzhi_pic1" src="__STATIC__/index/images/template_0.png">
                </div>
                <div class="tongzhi_txt">
                    <p class="tongzhi_h1">
                        {$vo.value}
                    </p>
                </div>
            </a>
        </div>
        {/volist}

    </div>
</div>